examples/one.json
[
    {
        "id": "838904fa01e3644e",
        "type": "http request",
        "z": "0abb8904250e3eb6",
        "name": "jpg",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 757,
        "y": 474,
        "wires": [
            [
                "0e91245952fb2e47"
            ]
        ]
    },
    {
        "id": "c2c6fc71621289bb",
        "type": "debug",
        "z": "0abb8904250e3eb6",
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "filetype",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1368,
        "y": 726,
        "wires": []
    },
    {
        "id": "e994210d507036b6",
        "type": "inject",
        "z": "0abb8904250e3eb6",
        "name": "ext: jpg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 489,
        "y": 409,
        "wires": [
            [
                "838904fa01e3644e"
            ]
        ]
    },
    {
        "id": "5d945f65756ed363",
        "type": "catch",
        "z": "0abb8904250e3eb6",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1123,
        "y": 631,
        "wires": [
            [
                "70940d287285878f"
            ]
        ]
    },
    {
        "id": "70940d287285878f",
        "type": "debug",
        "z": "0abb8904250e3eb6",
        "name": "debug 55",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 620,
        "wires": []
    },
    {
        "id": "d1265ff18e7af4fc",
        "type": "inject",
        "z": "0abb8904250e3eb6",
        "name": "error becuase payload is an integer",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 528,
        "wires": [
            [
                "0e91245952fb2e47"
            ]
        ]
    },
    {
        "id": "c1a203c007d28283",
        "type": "function",
        "z": "0abb8904250e3eb6",
        "name": "convert to stream",
        "func": "// msg.payload = stream.Readable.from(msg.payload)\n\n\nconst readable = new stream.Readable();\nreadable._read = () => {}; // _read is required but you can noop it\nreadable.push(msg.payload);\nreadable.push(null);\n\nmsg.payload = readable\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "stream",
                "module": "stream"
            }
        ],
        "x": 756,
        "y": 773,
        "wires": [
            [
                "0e91245952fb2e47"
            ]
        ]
    },
    {
        "id": "b1d388640fc61b8f",
        "type": "http request",
        "z": "0abb8904250e3eb6",
        "name": "jpg",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 517,
        "y": 850,
        "wires": [
            [
                "c1a203c007d28283"
            ]
        ]
    },
    {
        "id": "bcf57b946ee34586",
        "type": "inject",
        "z": "0abb8904250e3eb6",
        "name": "ext: jpg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 336,
        "y": 941,
        "wires": [
            [
                "b1d388640fc61b8f"
            ]
        ]
    },
    {
        "id": "b18ccab967f6963b",
        "type": "inject",
        "z": "0abb8904250e3eb6",
        "name": "undefined, string is not identified",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello world",
        "payloadType": "str",
        "x": 298,
        "y": 783,
        "wires": [
            [
                "0e91245952fb2e47"
            ]
        ]
    },
    {
        "id": "5ef34923ab5018a1",
        "type": "filetype",
        "z": "0abb8904250e3eb6",
        "name": "",
        "x": 1154,
        "y": 734,
        "wires": [
            [
                "c2c6fc71621289bb"
            ]
        ]
    },
    {
        "id": "716e6dce0d6c596d",
        "type": "template",
        "z": "0abb8904250e3eb6",
        "name": "svg - becomes ext: xml",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n<svg\n   id=\"screenshot\"\n   viewBox=\"0 0.061747609 419.29596 161.70532\"\n   width=\"419.29596\"\n   height=\"161.70532\"\n   version=\"1.1\"\n   style=\"-webkit-print-color-adjust:exact\"\n   xml:space=\"preserve\"\n   xmlns=\"http://www.w3.org/2000/svg\"\n   xmlns:svg=\"http://www.w3.org/2000/svg\"><defs\n     id=\"defs624\" /><g\n     id=\"g2234\"\n     transform=\"translate(0,0.06174761)\"\n     style=\"-webkit-print-color-adjust:exact\"><rect\n       x=\"0\"\n       y=\"0\"\n       width=\"419.29596\"\n       height=\"161.70532\"\n       class=\"frame-background\"\n       style=\"fill:#f40009;fill-opacity:1;stroke-width:0.718529\"\n       id=\"rect588\" /><g\n       id=\"g643\"\n       transform=\"translate(-6.1679148,5.813106)\"><g\n         id=\"shape-c2cf35a0-6287-11ed-8beb-1505805b7237\"\n         transform=\"translate(206.48142,-81.81765)\"><g\n           id=\"g597\"><path\n             d=\"m 4664,2589 c -52,-105 -241,-543 -274,-639 -13,-36 -27,-69 -31,-74 -5,-5 -38,4 -79,23 -66,31 -73,32 -122,22 -94,-21 -165,-68 -289,-191 -330,-328 -444,-591 -316,-728 80,-86 232,-62 315,49 19,26 39,46 42,44 4,-3 13,-25 20,-49 20,-71 48,-91 130,-91 65,0 71,2 139,49 84,57 232,211 280,290 20,34 36,75 39,104 5,44 4,46 -13,32 -10,-8 -51,-59 -92,-112 -55,-73 -87,-106 -126,-128 -59,-34 -57,-33 -77,-20 -12,7 -6,26 37,112 28,57 92,166 141,243 49,77 109,178 135,225 61,113 218,448 323,688 106,242 106,242 -52,242 h -84 z m -363,-765 c 11,-14 6,-30 -35,-110 -96,-189 -307,-502 -373,-554 -14,-11 -36,-20 -49,-20 -84,0 -39,196 89,388 70,105 187,237 251,284 44,32 96,37 117,12 z m -2041,427 c -55,-17 -111,-53 -120,-77 -16,-42 -12,-119 8,-144 15,-18 27,-21 89,-21 40,0 82,5 94,11 27,15 49,69 49,122 0,66 -9,85 -45,102 -36,18 -39,18 -75,7 z m 1279,0 c -37,-12 -71,-31 -96,-54 -20,-17 -23,-31 -23,-86 1,-91 11,-102 94,-103 83,0 120,15 138,55 19,47 14,145 -9,168 -22,22 -68,31 -104,20 z m -685,-331 c -163,-23 -312,-125 -449,-309 -83,-109 -125,-190 -165,-316 -72,-227 -24,-351 142,-371 113,-13 253,46 373,158 70,65 201,226 246,302 40,68 -6,41 -99,-56 -197,-209 -249,-247 -357,-256 -74,-5 -80,0 -78,75 4,174 245,583 385,654 41,21 89,24 119,9 27,-15 24,-40 -5,-40 -55,0 -136,-86 -136,-144 0,-37 7,-49 37,-65 72,-37 203,125 190,236 -10,89 -91,139 -203,123 z m 2281,0 c -119,-18 -231,-86 -351,-212 -229,-241 -339,-544 -253,-698 34,-60 88,-85 184,-84 134,1 234,51 365,183 70,71 202,236 229,289 30,58 -30,12 -172,-132 -134,-135 -159,-156 -210,-175 -75,-27 -142,-28 -157,-2 -15,29 -12,61 10,134 l 20,65 52,12 c 191,46 384,175 453,302 38,69 47,193 18,247 -34,64 -90,86 -188,71 z m 103,-148 c 2,-52 -2,-72 -28,-127 -57,-119 -198,-245 -326,-291 -35,-13 -64,-21 -64,-19 0,19 110,218 168,305 97,146 159,202 217,197 30,-2 30,-3 33,-65 z M 1123,1907 991,1898 834,1551 C 662,1173 649,1130 685,1059 c 38,-76 88,-109 162,-109 68,1 121,28 180,94 l 51,57 18,-51 c 25,-68 52,-92 114,-98 83,-8 161,38 295,172 61,61 125,137 144,169 32,54 54,147 35,147 -5,0 -34,-35 -64,-77 -69,-95 -131,-158 -181,-183 -37,-19 -69,-18 -69,2 0,20 79,168 163,304 93,153 256,428 254,430 -1,1 -61,-4 -133,-9 l -130,-10 -57,-111 c -131,-259 -339,-578 -408,-627 -37,-26 -76,-19 -89,17 -44,115 60,378 284,717 10,15 14,26 10,25 -5,0 -68,-5 -141,-11 z m 792,-229 c -33,-78 -95,-204 -139,-281 -93,-166 -116,-226 -116,-308 0,-193 145,-210 347,-39 136,114 243,263 243,337 0,46 -16,36 -80,-55 -99,-139 -193,-213 -227,-180 -12,12 -8,28 22,107 49,126 147,336 211,453 30,53 54,99 54,102 0,3 -57,6 -127,6 h -128 z m 1302,40 c -24,-57 -55,-128 -68,-158 -13,-30 -56,-111 -96,-180 -102,-173 -126,-255 -103,-349 8,-36 21,-59 43,-77 27,-23 37,-26 79,-21 94,12 212,93 340,235 75,84 114,150 124,211 10,61 -9,52 -71,-35 -61,-84 -155,-181 -190,-194 -29,-11 -55,-4 -55,16 0,33 92,247 190,442 l 107,212 h -127 -128 z\"\n             transform=\"matrix(0.025,0,0,-0.025,31,182)\"\n             fill=\"#ffffff\"\n             stroke=\"none\"\n             id=\"path595\" /></g></g><g\n         id=\"shape-d7c4f670-6287-11ed-8beb-1505805b7237\"\n         transform=\"matrix(1.2451935,0,0,1.2451935,-92.548565,-203.2357)\"><g\n           id=\"g602\"><path\n             d=\"m 2005,2519 c -228,-16 -431,-86 -613,-212 -181,-124 -281,-314 -269,-507 8,-140 62,-245 169,-325 105,-80 173,-105 355,-131 l 32,-5 -33,-77 C 1457,821 1240,610 974,610 769,610 596,728 650,831 c 16,29 63,49 152,64 87,16 113,31 134,82 33,77 3,151 -76,190 -146,74 -331,-47 -347,-226 -19,-208 158,-351 452,-367 425,-24 833,250 1060,709 l 64,129 138,68 c 222,109 396,232 535,378 138,145 197,258 205,398 7,100 -6,143 -60,201 -54,59 -120,79 -215,64 -82,-13 -171,-47 -243,-93 -247,-159 -544,-560 -722,-977 l -28,-64 -77,6 c -149,10 -267,78 -319,185 -26,53 -28,65 -27,177 0,103 4,130 26,187 52,138 128,235 263,337 156,118 335,179 554,190 82,4 126,10 128,18 10,30 -86,43 -242,32 z m 816,-55 c 39,-20 59,-68 59,-142 0,-195 -174,-445 -459,-661 -128,-96 -301,-193 -301,-168 0,22 68,240 112,356 51,138 138,318 189,395 79,117 175,201 259,227 43,13 110,10 141,-7 z\"\n             transform=\"matrix(0.025,0,0,-0.025,229,241)\"\n             fill=\"#ffffff\"\n             stroke=\"none\"\n             id=\"path600\" /></g></g></g><g\n       id=\"g635\"><g\n         id=\"shape-096fb951-6286-11ed-8beb-1505805b7237\"\n         transform=\"translate(57.092215,8.8976085)\"><g\n           id=\"g592\"><path\n             d=\"m 4603,2200 c -62,-3 -114,-8 -116,-10 -20,-24 -503,-918 -558,-1034 -125,-265 -172,-503 -116,-600 28,-50 84,-81 131,-72 19,4 52,19 75,34 112,76 372,374 347,399 -8,8 -44,-24 -121,-106 -122,-130 -184,-160 -207,-103 -12,32 -11,101 3,157 6,22 112,232 236,468 l 225,427 h 109 c 108,0 110,0 119,26 6,14 10,27 10,30 0,2 -43,4 -95,4 -52,0 -95,3 -95,8 0,4 6,16 13,27 8,11 53,95 101,188 68,131 83,167 69,165 -10,-1 -68,-4 -130,-8 z M 1166,1800 c -81,-32 -96,-52 -96,-129 1,-91 11,-102 94,-103 118,-1 151,31 150,145 -1,94 -53,125 -148,87 z m 269,-319 c -70,-43 -285,-287 -285,-323 0,-21 28,-2 96,63 78,76 104,84 104,31 0,-17 -39,-105 -91,-208 -50,-98 -88,-170 -84,-159 4,11 9,37 12,59 8,54 -11,45 -69,-35 -74,-100 -145,-175 -182,-193 -36,-17 -66,-13 -66,10 0,33 92,248 191,442 l 107,212 H 1040 913 L 845,1223 C 807,1136 747,1016 712,956 606,777 576,679 600,590 631,474 731,459 867,550 c 72,48 192,166 251,245 24,33 46,62 49,65 5,6 -37,-88 -111,-244 -31,-66 -54,-121 -52,-123 9,-10 301,19 308,30 4,7 40,102 79,212 109,306 155,389 294,533 72,76 109,102 144,102 73,0 43,-201 -65,-436 -95,-206 -144,-347 -144,-414 v -32 l 98,6 c 53,4 119,9 145,12 l 49,6 -23,24 c -17,18 -21,31 -17,61 7,46 80,249 150,414 50,120 52,123 162,234 124,127 156,144 189,104 39,-48 4,-190 -103,-419 -101,-214 -113,-247 -105,-297 13,-89 85,-130 209,-120 138,12 219,60 339,201 l 53,62 -1,-72 c 0,-65 3,-77 30,-115 59,-83 149,-102 246,-51 32,16 67,46 87,72 19,25 37,46 41,48 4,1 15,-22 24,-51 22,-71 44,-89 112,-95 46,-4 64,0 112,24 71,36 238,193 303,286 51,73 80,152 62,170 -7,7 -30,-17 -76,-80 -74,-101 -132,-157 -184,-179 -29,-12 -37,-12 -48,-1 -17,17 38,128 170,339 104,166 192,333 202,388 l 7,33 -97,-3 c -92,-4 -97,-5 -119,-33 l -23,-28 -73,31 c -67,30 -76,32 -122,22 -103,-22 -221,-102 -343,-232 -100,-107 -197,-237 -246,-331 -67,-129 -208,-232 -333,-245 -68,-7 -92,7 -83,48 3,16 39,99 79,186 95,203 127,295 127,370 0,112 -54,167 -164,167 -78,-1 -132,-24 -248,-109 -48,-36 -91,-65 -93,-65 -3,0 -5,11 -5,25 0,74 -54,136 -131,150 -44,8 -155,-27 -291,-93 -81,-39 -98,-44 -98,-30 0,51 -25,124 -50,150 -33,33 -63,35 -105,9 z m 2125,-96 c 17,-21 9,-46 -59,-167 -121,-216 -296,-465 -356,-504 -33,-22 -71,-12 -77,21 -22,111 99,352 270,537 104,111 188,154 222,113 z m 1415,95 c -74,-12 -129,-35 -204,-85 -78,-51 -195,-170 -264,-266 -92,-130 -167,-327 -167,-441 0,-103 59,-178 154,-198 129,-27 277,32 412,165 79,79 211,242 240,297 33,64 -21,23 -169,-126 -134,-135 -159,-156 -210,-175 -75,-27 -142,-28 -157,-2 -15,29 -12,61 10,134 l 20,65 52,12 c 142,35 278,109 374,204 84,84 114,150 114,249 0,132 -68,188 -205,167 z m 103,-149 c 3,-55 -1,-73 -28,-127 -58,-119 -199,-244 -326,-290 -35,-13 -64,-21 -64,-19 0,19 110,218 168,305 97,146 159,202 217,197 30,-2 30,-3 33,-66 z\"\n             transform=\"matrix(0.025,0,0,-0.025,5,84)\"\n             fill=\"#ffffff\"\n             stroke=\"none\"\n             id=\"path590\" /></g></g><g\n         id=\"shape-33bc9f60-6287-11ed-8beb-1505805b7237\"\n         transform=\"matrix(1.2855397,0,0,1.2855397,-21.030409,-217.60948)\"><g\n           id=\"g607\"><path\n             d=\"M 1900,2765 C 1691,2702 1509,2586 1291,2375 882,1981 616,1437 670,1106 689,988 742,914 842,867 c 66,-31 105,-38 210,-38 110,0 178,14 265,55 95,45 164,98 246,186 151,164 228,327 243,515 6,70 4,87 -16,132 -18,43 -30,56 -66,74 -53,25 -154,28 -226,6 -116,-36 -225,-159 -279,-314 -23,-68 -45,-231 -33,-243 5,-5 42,15 84,47 41,30 96,65 121,78 44,23 48,28 69,97 31,102 51,137 108,190 76,71 123,73 157,8 20,-39 19,-91 -4,-182 -33,-128 -108,-249 -223,-359 -132,-126 -318,-173 -420,-106 -85,56 -112,225 -65,407 89,342 402,836 692,1090 146,128 299,199 403,187 64,-7 73,-22 26,-44 -87,-40 -214,-153 -291,-259 -52,-72 -104,-189 -110,-249 -4,-37 0,-66 11,-97 15,-39 22,-45 62,-56 128,-34 257,20 369,155 105,127 151,262 141,406 l -7,87 26,10 c 15,6 40,10 57,10 81,0 326,-108 594,-263 270,-156 324,-174 492,-164 126,7 204,28 328,87 219,106 484,352 484,450 0,18 -17,8 -102,-58 -229,-176 -335,-232 -507,-267 -56,-11 -116,-16 -185,-13 -118,4 -141,13 -376,153 -168,101 -249,143 -340,176 -55,20 -83,24 -190,24 -126,0 -180,-9 -267,-46 l -43,-18 -51,32 c -47,29 -59,32 -148,34 -79,3 -111,-1 -181,-22 z m 330,-232 c 0,-84 -12,-141 -41,-208 -22,-51 -96,-158 -131,-192 -65,-62 -161,-95 -208,-70 -43,22 -46,53 -11,144 63,161 178,301 313,377 35,20 66,36 71,36 4,0 7,-39 7,-87 z\"\n             transform=\"matrix(0.025,0,0,-0.025,20,256)\"\n             fill=\"#ffffff\"\n             stroke=\"none\"\n             id=\"path605\" /></g></g><g\n         id=\"shape-3e4771d0-6287-11ed-8beb-1505805b7237\"\n         transform=\"translate(-75.762205,-201.16364)\"><g\n           id=\"g612\"><path\n             d=\"m 1851,2829 c -188,-37 -481,-315 -741,-704 -208,-312 -381,-684 -430,-925 -25,-124 -25,-183 0,-235 20,-42 79,-85 116,-85 61,1 163,79 291,223 184,206 206,280 32,111 -116,-114 -143,-134 -177,-134 -23,0 -42,38 -42,84 0,41 54,236 79,284 23,44 57,76 216,207 156,128 458,432 561,565 288,372 362,572 227,609 -43,12 -70,12 -132,0 z m 115,-94 c 49,-75 -85,-300 -372,-625 -200,-226 -532,-532 -542,-501 -5,15 114,260 180,370 188,313 411,607 531,699 108,84 173,102 203,57 z\"\n             transform=\"matrix(0.025,0,0,-0.025,120,304)\"\n             fill=\"#ffffff\"\n             stroke=\"none\"\n             id=\"path610\" /></g></g></g><g\n       id=\"shape-096fb952-6286-11ed-8beb-1505805b7237\"\n       transform=\"translate(0.4447609,7.145432)\"><g\n         id=\"g617\"><path\n           d=\"m 570,921 c 0,-27 4,-32 29,-37 19,-4 31,-14 35,-28 8,-28 7,-465 0,-493 -4,-15 -14,-23 -28,-23 -30,0 -34,-6 -28,-35 4,-25 5,-25 123,-25 h 119 v 30 c 0,26 -3,30 -29,30 -28,0 -29,1 -36,74 -3,41 -3,96 1,122 12,85 86,132 133,85 26,-26 35,-93 26,-196 -6,-76 -9,-84 -28,-87 -16,-2 -22,-10 -22,-28 v -25 l 113,-3 112,-3 v 31 c 0,25 -4,30 -24,30 -31,0 -36,19 -36,153 0,120 -12,161 -55,195 -53,42 -148,38 -190,-8 -34,-38 -38,-25 -30,120 l 7,140 h -65 c -35,0 -79,3 -96,6 -29,6 -31,5 -31,-25 z m 5400,-1 c 0,-22 6,-29 33,-36 l 32,-10 3,-79 3,-80 h -73 c -91,0 -151,-31 -187,-95 -49,-88 -35,-244 28,-304 22,-22 43,-30 80,-34 66,-6 93,2 130,38 l 30,31 7,-36 6,-35 h 73 c 67,0 73,2 79,23 9,34 8,35 -21,39 l -28,3 -2,295 c -1,162 -6,296 -10,297 -4,1 -47,3 -95,6 l -88,5 z m 68,-385 c 2,-85 -1,-105 -18,-132 -17,-28 -25,-33 -60,-33 -30,0 -43,5 -54,23 -35,52 -32,174 6,222 18,23 26,26 72,23 l 51,-3 z m -502,366 c -26,-29 -18,-81 16,-100 59,-33 120,28 87,87 -19,35 -76,43 -103,13 z M 20,856 c 0,-24 -3,-58 -6,-75 -6,-29 -5,-31 23,-31 28,0 31,4 37,40 l 6,41 63,-3 62,-3 V 585 345 l -27,-3 c -24,-3 -28,-8 -28,-33 v -29 h 125 125 v 30 c 0,25 -4,30 -24,30 -16,0 -26,7 -30,23 -8,29 -8,431 0,451 5,12 20,16 64,16 62,0 70,-7 70,-56 0,-20 5,-24 31,-24 h 32 l -7,53 c -3,28 -6,62 -6,75 v 22 H 275 20 Z m 3309,-82 c -14,-23 -38,-44 -66,-56 -34,-15 -43,-24 -43,-43 0,-21 5,-25 30,-25 h 30 V 515 c 0,-147 10,-190 51,-219 33,-23 116,-21 157,4 28,17 31,22 20,39 -9,15 -19,18 -45,14 -58,-10 -63,3 -63,158 v 139 h 44 c 31,0 46,5 50,16 14,37 7,44 -44,44 h -50 v 50 c 0,46 -2,50 -24,50 -17,0 -31,-11 -47,-36 z m 846,-3 c -16,-24 -41,-44 -65,-54 -32,-12 -40,-20 -40,-41 0,-22 4,-26 30,-26 h 30 V 511 c 0,-155 9,-195 51,-216 56,-29 179,-9 179,30 0,20 -20,29 -60,26 -51,-3 -60,22 -60,174 v 125 h 49 c 47,0 49,1 53,30 l 5,30 h -54 -53 v 50 c 0,43 -3,50 -20,50 -12,0 -30,-15 -45,-39 z m 2726,3 c -13,-22 -37,-42 -65,-54 -37,-17 -43,-23 -38,-45 3,-18 11,-25 28,-25 24,0 24,0 24,-122 1,-147 10,-195 45,-225 32,-28 110,-31 158,-7 42,22 40,19 26,42 -10,16 -20,19 -46,15 -58,-10 -63,3 -63,158 v 139 h 50 c 49,0 50,1 50,30 0,29 -1,30 -50,30 h -50 v 50 c 0,46 -2,50 -24,50 -17,0 -30,-11 -45,-36 z M 1280,711 c -90,-29 -136,-88 -146,-187 -15,-139 56,-237 181,-252 56,-6 134,13 168,41 24,20 25,24 12,41 -13,17 -18,18 -40,8 -14,-7 -49,-12 -76,-12 -42,0 -55,5 -80,29 -16,16 -29,38 -29,49 0,11 -3,27 -6,36 -5,14 9,16 120,16 h 126 l 6,25 c 16,65 -20,156 -76,188 -35,21 -122,31 -160,18 z m 80,-69 c 13,-11 23,-33 27,-60 l 6,-42 h -66 -66 l 6,33 c 15,80 48,105 93,69 z m 365,60 c -11,-28 -4,-39 28,-48 l 32,-10 V 495 346 l -25,-6 c -18,-4 -26,-14 -28,-33 l -3,-27 h 120 121 v 30 c 0,25 -4,30 -24,30 -32,0 -36,15 -36,122 0,104 16,150 60,168 35,15 66,6 86,-25 11,-17 14,-49 12,-141 -3,-115 -4,-119 -25,-122 -18,-3 -23,-10 -23,-33 v -29 h 115 115 v 30 c 0,26 -3,30 -29,30 -27,0 -28,2 -35,61 -3,34 -6,98 -6,143 0,64 -4,88 -20,114 -22,35 -72,62 -117,62 -35,0 -111,-37 -126,-61 -15,-24 -27,-24 -27,-1 0,37 -23,50 -92,54 -51,3 -69,1 -73,-10 z m 692,3 c -85,-30 -127,-100 -127,-210 0,-152 91,-237 237,-222 55,6 133,42 133,63 0,23 -26,35 -54,24 -36,-13 -112,-13 -138,1 -21,11 -48,66 -48,98 0,19 8,21 123,23 l 122,3 v 67 c 0,80 -19,111 -85,146 -50,25 -106,28 -163,7 z m 103,-65 c 13,-13 20,-33 20,-60 v -40 h -61 -62 l 6,42 c 6,43 34,78 63,78 8,0 23,-9 34,-20 z m 200,51 c 0,-19 5,-31 13,-31 13,0 89,-82 121,-133 l 18,-27 -40,-53 c -70,-89 -87,-107 -103,-107 -12,0 -14,-8 -11,-30 l 4,-30 h 89 89 v 30 c 0,17 -4,30 -10,30 -5,0 -10,5 -10,10 0,13 50,90 59,90 7,0 61,-83 61,-94 0,-3 -7,-6 -15,-6 -10,0 -15,-10 -15,-30 v -30 h 110 c 106,0 110,1 110,22 0,12 -17,35 -41,56 -48,41 -119,128 -119,146 0,19 119,156 136,156 10,0 14,8 12,23 -3,21 -8,22 -95,25 l -93,3 v -26 c 0,-16 6,-25 16,-25 9,0 14,-3 12,-7 -10,-23 -54,-93 -58,-93 -5,0 -60,87 -60,95 0,3 9,5 20,5 15,0 20,7 20,25 0,25 -1,25 -87,25 -49,0 -98,3 -110,6 -20,6 -23,3 -23,-25 z m 1089,20 c -67,-21 -99,-61 -99,-124 0,-57 36,-97 125,-142 49,-24 81,-47 83,-58 6,-30 -17,-47 -64,-47 -51,0 -84,26 -84,65 0,20 -5,25 -24,25 -19,0 -24,-6 -30,-37 -3,-21 -6,-52 -6,-69 0,-28 3,-32 38,-38 20,-3 68,-6 105,-6 117,0 171,41 171,129 0,69 -24,97 -124,145 -65,31 -86,46 -88,63 -4,30 38,47 88,36 30,-7 36,-14 44,-46 8,-29 14,-37 33,-37 20,0 23,5 23,43 0,23 3,52 6,63 5,20 0,23 -46,33 -58,12 -113,13 -151,2 z m 581,-21 c 0,-19 7,-30 25,-38 24,-11 25,-15 25,-114 1,-57 5,-123 9,-148 21,-106 159,-147 241,-70 18,17 34,30 36,30 2,0 4,-16 4,-35 v -35 h 80 80 v 30 c 0,25 -4,30 -24,30 -22,0 -25,5 -32,57 -4,31 -4,113 0,180 5,96 3,124 -6,128 -7,2 -50,5 -95,7 l -81,3 -4,-27 c -4,-24 -1,-28 28,-34 27,-5 33,-11 38,-42 10,-64 7,-151 -8,-186 -26,-63 -87,-85 -127,-45 -19,19 -20,30 -18,172 2,88 -1,152 -7,153 -5,1 -44,4 -86,7 l -78,4 z m 540,1 c 0,-27 4,-32 29,-37 19,-4 31,-14 35,-28 10,-36 7,-443 -4,-470 -5,-14 -16,-26 -25,-26 -9,0 -15,-9 -15,-25 V 80 h 120 120 v 25 c 0,20 -6,25 -34,30 -33,7 -34,8 -38,68 -3,34 -3,65 -1,70 2,4 33,7 69,7 146,0 217,72 218,220 0,93 -15,140 -59,179 -65,57 -157,51 -214,-14 l -31,-35 -6,27 c -11,52 -12,53 -66,53 -29,0 -63,3 -75,6 -20,6 -23,3 -23,-25 z m 309,-78 c 27,-23 42,-102 31,-167 -12,-80 -65,-113 -136,-86 l -27,11 6,92 c 6,101 18,140 51,155 31,16 51,14 75,-5 z m 221,75 c 0,-23 5,-30 29,-34 35,-7 41,-29 41,-159 0,-127 -6,-155 -36,-155 -28,0 -35,-10 -27,-39 5,-21 9,-22 122,-19 l 116,3 3,28 c 3,24 0,27 -26,27 -29,0 -30,1 -37,66 -4,36 -4,117 0,180 6,92 5,115 -6,118 -8,3 -51,6 -96,9 l -83,4 z m 1057,18 c -52,-19 -65,-32 -77,-77 -13,-49 1,-107 32,-136 13,-12 53,-35 90,-52 75,-33 97,-60 72,-85 -17,-18 -70,-21 -108,-6 -18,6 -27,19 -32,45 -5,28 -11,35 -29,35 -20,0 -23,-6 -29,-66 -4,-37 -4,-69 -2,-72 3,-3 50,-7 103,-10 116,-5 162,9 193,60 46,76 13,155 -85,201 -105,49 -110,52 -113,75 -4,28 36,45 85,36 35,-7 53,-28 53,-63 0,-15 6,-21 24,-21 22,0 25,5 31,61 4,33 5,63 1,66 -8,9 -87,22 -131,22 -22,0 -57,-6 -78,-13 z m 743,5 c -90,-29 -136,-88 -146,-187 -15,-139 56,-237 181,-252 56,-6 134,13 168,41 24,20 25,24 12,41 -13,17 -18,18 -40,8 -14,-7 -49,-12 -76,-12 -42,0 -55,5 -80,29 -16,16 -29,38 -29,49 0,11 -3,27 -6,36 -5,14 9,16 120,16 h 126 l 6,25 c 16,65 -20,156 -76,188 -35,21 -122,31 -160,18 z m 80,-69 c 13,-11 23,-33 27,-60 l 6,-42 h -66 -66 l 6,33 c 15,80 48,105 93,69 z m 198,46 c -4,-25 -1,-28 28,-34 41,-8 44,-24 44,-259 0,-211 -6,-256 -32,-263 -11,-2 -18,-13 -18,-28 0,-24 0,-24 120,-24 120,0 120,0 120,24 0,19 -7,25 -34,30 -31,6 -34,10 -40,53 -13,95 -16,91 77,94 102,5 152,32 186,101 28,59 29,184 2,244 -46,102 -169,124 -246,44 -36,-38 -45,-38 -45,0 0,36 -4,38 -92,42 -66,4 -66,4 -70,-24 z m 295,-67 c 36,-14 50,-59 45,-147 -3,-69 -6,-79 -31,-100 -28,-24 -61,-29 -104,-18 -22,6 -23,12 -23,89 0,92 13,141 42,168 23,19 36,21 71,8 z m 244,-229 c -26,-29 -22,-88 7,-108 70,-45 140,51 80,110 -21,22 -67,20 -87,-2 z\"\n           transform=\"matrix(0.025,0,0,-0.025,202,121)\"\n           fill=\"#ffffff\"\n           stroke=\"none\"\n           id=\"path615\" /></g></g><g\n       style=\"display:inline;-webkit-print-color-adjust:exact\"\n       id=\"g741\"\n       transform=\"translate(151.6419,-2280.6146)\"><path\n         d=\"m 17.368464,2297.35 c -0.358728,1.2983 -0.392893,1.247 0.649129,1.247 0.854116,0 0.95661,-0.034 1.110351,-0.4441 0.358729,-0.9396 0.256235,-1.0933 -0.751622,-1.0933 -0.751623,0 -0.956611,0.068 -1.007858,0.2904 z m -19.5080119,0.2562 c -0.2391525,0.7517 -2.1011258,9.959 -2.0327965,10.0786 0.1195763,0.1708 1.2811743,0.1708 1.5544914,0 0.1195763,-0.068 0.5295521,-1.5887 0.9053632,-3.3652 0.6491282,-3.0065 0.76870449,-3.5019 0.90536309,-3.314 0.034165,0.034 0.7003752,1.5203 1.4690798,3.314 0.78578671,1.7765 1.52032661,3.2969 1.62282051,3.3652 0.1024939,0.068 0.4270581,0.1367 0.7003752,0.1367 0.2903995,0 0.5978814,-0.068 0.7003753,-0.1367 0.1537409,-0.1025 2.2890314,-9.549 2.2890314,-10.1298 0,-0.1025 -0.358729,-0.1538 -0.888281,-0.1196 l -0.905363,0.051 -0.7003753,3.2456 c -0.3758111,1.7766 -0.7345399,3.3481 -0.7687045,3.4848 -0.051247,0.1367 -0.7687046,-1.3324 -1.6057382,-3.2798 l -1.50324441,-3.5358 H -1.2341848 c -0.5124697,0 -0.8541161,0.086 -0.9053631,0.205 z m 11.5647324,2.5795 c -1.315339,0.4783 -2.220702,1.6399 -2.699007,3.4506 -0.73454,2.7161 0.2904,4.1852 2.93816,4.1852 2.6819235,0 4.2193335,-1.6741 4.4414035,-4.8685 0.102494,-1.4691 -0.239153,-2.1524 -1.349504,-2.6478 -0.819951,-0.3758 -2.442772,-0.427 -3.3310525,-0.1195 z m 2.5452655,1.5032 c 0.324565,0.3246 0.358729,0.4954 0.273318,1.4862 -0.119577,1.2811 -0.683293,2.5111 -1.349504,2.9894 -0.666211,0.4954 -1.8107255,0.4612 -2.2377835,-0.068 -0.273318,-0.3416 -0.307482,-0.5808 -0.222071,-1.3495 0.153741,-1.4861 0.444141,-2.2548 1.042022,-2.8527 0.478305,-0.4783 0.6832925,-0.5637 1.3495035,-0.5637 0.580799,0 0.888281,0.1025 1.144515,0.3587 z m 10.710617,-1.5545 c -1.366586,0.41 -2.306114,1.4691 -2.801501,3.1773 -0.905363,3.109 0.170823,4.6123 3.143147,4.4927 1.195763,-0.068 1.46908,-0.1367 2.101126,-0.5808 0.409976,-0.2904 0.95661,-0.8712 1.212845,-1.2983 0.563717,-0.9053 1.042022,-3.0065 0.888281,-3.8606 -0.136659,-0.7345 -0.819952,-1.5716 -1.554491,-1.862 -0.597882,-0.2562 -2.254867,-0.2904 -2.989407,-0.068 z m 2.340278,1.5374 c 0.580799,0.6492 0.187906,3.2286 -0.649128,4.1852 -0.73454,0.8712 -2.562348,0.8541 -2.784419,-0.017 -0.187905,-0.7174 0.05125,-2.4086 0.427058,-3.1773 0.187906,-0.41 0.563717,-0.8712 0.819952,-1.0249 0.666211,-0.41 1.793644,-0.3929 2.186537,0.034 z m -8.199515,-1.3153 c -0.05125,0.1196 -0.461223,1.9815 -0.922445,4.1339 -0.751623,3.5019 -0.888281,3.9631 -1.298257,4.3048 -0.239152,0.222 -0.66621,0.3928 -0.95661,0.3928 -0.51247,0 -0.563717,0.051 -0.73454,0.9054 -0.102494,0.4612 -0.102494,0.4612 0.819952,0.4612 1.469079,0 2.374443,-0.4954 2.938159,-1.5715 0.204988,-0.3929 1.947385,-8.1483 1.947385,-8.6779 0,-0.2562 -1.708232,-0.222 -1.793644,0.051 z m 11.872215,-0.1538 c 0,0.051 0.341646,1.657 0.768704,3.6044 l 0.751623,3.519 -0.922446,1.4349 c -0.51247,0.8029 -0.939528,1.5203 -0.939528,1.6228 0,0.085 0.375811,0.1708 0.837034,0.1708 h 0.837034 l 3.16023,-4.9197 c 1.742397,-2.699 3.228559,-5.0393 3.296888,-5.2101 0.08541,-0.2562 -0.01708,-0.2904 -0.768704,-0.2904 h -0.871199 l -0.973692,1.5374 c -0.546635,0.8371 -1.281175,1.9987 -1.639903,2.5795 -0.358729,0.5637 -0.683293,1.0078 -0.73454,0.9737 -0.03417,-0.051 -0.256235,-1.025 -0.495388,-2.2037 -0.239152,-1.1616 -0.461222,-2.289 -0.512469,-2.5111 -0.08541,-0.3245 -0.204988,-0.3758 -0.939528,-0.3758 -0.478305,0 -0.854116,0.034 -0.854116,0.068 z\"\n         fill=\"#ffffff\"\n         stroke=\"none\"\n         id=\"path727\"\n         style=\"stroke-width:0.0170823\" /></g><path\n       style=\"fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.324927;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;-webkit-print-color-adjust:exact\"\n       d=\"m 281.36992,40.919813 -7.28384,9.310231 C 331.7125,32.243718 377.62507,32.865172 420.50653,35.591967 L 420.11061,6.5895826 C 367.70795,10.212795 322.84169,23.797667 281.37001,40.919813 Z\"\n       id=\"path2166\" /><path\n       style=\"fill:#ffffff;fill-opacity:1;stroke:#fffff1;stroke-width:0.213817;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;-webkit-print-color-adjust:exact\"\n       d=\"M -0.36912938,88.562617 C 92.702569,104.93485 165.56405,102.39127 245.1634,83.456498 l 5.05108,2.29809 C 167.37432,116.45971 109.57059,130.80265 -0.4011996,125.41999 Z\"\n       id=\"path2110\" /></g></svg>\n",
        "output": "str",
        "x": 572,
        "y": 638,
        "wires": [
            [
                "0e91245952fb2e47"
            ]
        ]
    },
    {
        "id": "3efc5a4ad01222a2",
        "type": "inject",
        "z": "0abb8904250e3eb6",
        "name": "ext: xml",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello world",
        "payloadType": "str",
        "x": 239,
        "y": 641,
        "wires": [
            [
                "716e6dce0d6c596d"
            ]
        ]
    },
    {
        "id": "c973a2f2c76fa585",
        "type": "template",
        "z": "0abb8904250e3eb6",
        "name": "svg - becomes ext: xml",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n<svg\n   id=\"screenshot\"\n   viewBox=\"0 0.061747609 419.29596 161.70532\"\n   width=\"419.29596\"\n   height=\"161.70532\"\n   version=\"1.1\"\n   style=\"-webkit-print-color-adjust:exact\"\n   xml:space=\"preserve\"\n   xmlns=\"http://www.w3.org/2000/svg\"\n   xmlns:svg=\"http://www.w3.org/2000/svg\"><defs\n     id=\"defs624\" /><g\n     id=\"g2234\"\n     transform=\"translate(0,0.06174761)\"\n     style=\"-webkit-print-color-adjust:exact\"><rect\n       x=\"0\"\n       y=\"0\"\n       width=\"419.29596\"\n       height=\"161.70532\"\n       class=\"frame-background\"\n       style=\"fill:#f40009;fill-opacity:1;stroke-width:0.718529\"\n       id=\"rect588\" /><g\n       id=\"g643\"\n       transform=\"translate(-6.1679148,5.813106)\"><g\n         id=\"shape-c2cf35a0-6287-11ed-8beb-1505805b7237\"\n         transform=\"translate(206.48142,-81.81765)\"><g\n           id=\"g597\"><path\n             d=\"m 4664,2589 c -52,-105 -241,-543 -274,-639 -13,-36 -27,-69 -31,-74 -5,-5 -38,4 -79,23 -66,31 -73,32 -122,22 -94,-21 -165,-68 -289,-191 -330,-328 -444,-591 -316,-728 80,-86 232,-62 315,49 19,26 39,46 42,44 4,-3 13,-25 20,-49 20,-71 48,-91 130,-91 65,0 71,2 139,49 84,57 232,211 280,290 20,34 36,75 39,104 5,44 4,46 -13,32 -10,-8 -51,-59 -92,-112 -55,-73 -87,-106 -126,-128 -59,-34 -57,-33 -77,-20 -12,7 -6,26 37,112 28,57 92,166 141,243 49,77 109,178 135,225 61,113 218,448 323,688 106,242 106,242 -52,242 h -84 z m -363,-765 c 11,-14 6,-30 -35,-110 -96,-189 -307,-502 -373,-554 -14,-11 -36,-20 -49,-20 -84,0 -39,196 89,388 70,105 187,237 251,284 44,32 96,37 117,12 z m -2041,427 c -55,-17 -111,-53 -120,-77 -16,-42 -12,-119 8,-144 15,-18 27,-21 89,-21 40,0 82,5 94,11 27,15 49,69 49,122 0,66 -9,85 -45,102 -36,18 -39,18 -75,7 z m 1279,0 c -37,-12 -71,-31 -96,-54 -20,-17 -23,-31 -23,-86 1,-91 11,-102 94,-103 83,0 120,15 138,55 19,47 14,145 -9,168 -22,22 -68,31 -104,20 z m -685,-331 c -163,-23 -312,-125 -449,-309 -83,-109 -125,-190 -165,-316 -72,-227 -24,-351 142,-371 113,-13 253,46 373,158 70,65 201,226 246,302 40,68 -6,41 -99,-56 -197,-209 -249,-247 -357,-256 -74,-5 -80,0 -78,75 4,174 245,583 385,654 41,21 89,24 119,9 27,-15 24,-40 -5,-40 -55,0 -136,-86 -136,-144 0,-37 7,-49 37,-65 72,-37 203,125 190,236 -10,89 -91,139 -203,123 z m 2281,0 c -119,-18 -231,-86 -351,-212 -229,-241 -339,-544 -253,-698 34,-60 88,-85 184,-84 134,1 234,51 365,183 70,71 202,236 229,289 30,58 -30,12 -172,-132 -134,-135 -159,-156 -210,-175 -75,-27 -142,-28 -157,-2 -15,29 -12,61 10,134 l 20,65 52,12 c 191,46 384,175 453,302 38,69 47,193 18,247 -34,64 -90,86 -188,71 z m 103,-148 c 2,-52 -2,-72 -28,-127 -57,-119 -198,-245 -326,-291 -35,-13 -64,-21 -64,-19 0,19 110,218 168,305 97,146 159,202 217,197 30,-2 30,-3 33,-65 z M 1123,1907 991,1898 834,1551 C 662,1173 649,1130 685,1059 c 38,-76 88,-109 162,-109 68,1 121,28 180,94 l 51,57 18,-51 c 25,-68 52,-92 114,-98 83,-8 161,38 295,172 61,61 125,137 144,169 32,54 54,147 35,147 -5,0 -34,-35 -64,-77 -69,-95 -131,-158 -181,-183 -37,-19 -69,-18 -69,2 0,20 79,168 163,304 93,153 256,428 254,430 -1,1 -61,-4 -133,-9 l -130,-10 -57,-111 c -131,-259 -339,-578 -408,-627 -37,-26 -76,-19 -89,17 -44,115 60,378 284,717 10,15 14,26 10,25 -5,0 -68,-5 -141,-11 z m 792,-229 c -33,-78 -95,-204 -139,-281 -93,-166 -116,-226 -116,-308 0,-193 145,-210 347,-39 136,114 243,263 243,337 0,46 -16,36 -80,-55 -99,-139 -193,-213 -227,-180 -12,12 -8,28 22,107 49,126 147,336 211,453 30,53 54,99 54,102 0,3 -57,6 -127,6 h -128 z m 1302,40 c -24,-57 -55,-128 -68,-158 -13,-30 -56,-111 -96,-180 -102,-173 -126,-255 -103,-349 8,-36 21,-59 43,-77 27,-23 37,-26 79,-21 94,12 212,93 340,235 75,84 114,150 124,211 10,61 -9,52 -71,-35 -61,-84 -155,-181 -190,-194 -29,-11 -55,-4 -55,16 0,33 92,247 190,442 l 107,212 h -127 -128 z\"\n             transform=\"matrix(0.025,0,0,-0.025,31,182)\"\n             fill=\"#ffffff\"\n             stroke=\"none\"\n             id=\"path595\" /></g></g><g\n         id=\"shape-d7c4f670-6287-11ed-8beb-1505805b7237\"\n         transform=\"matrix(1.2451935,0,0,1.2451935,-92.548565,-203.2357)\"><g\n           id=\"g602\"><path\n             d=\"m 2005,2519 c -228,-16 -431,-86 -613,-212 -181,-124 -281,-314 -269,-507 8,-140 62,-245 169,-325 105,-80 173,-105 355,-131 l 32,-5 -33,-77 C 1457,821 1240,610 974,610 769,610 596,728 650,831 c 16,29 63,49 152,64 87,16 113,31 134,82 33,77 3,151 -76,190 -146,74 -331,-47 -347,-226 -19,-208 158,-351 452,-367 425,-24 833,250 1060,709 l 64,129 138,68 c 222,109 396,232 535,378 138,145 197,258 205,398 7,100 -6,143 -60,201 -54,59 -120,79 -215,64 -82,-13 -171,-47 -243,-93 -247,-159 -544,-560 -722,-977 l -28,-64 -77,6 c -149,10 -267,78 -319,185 -26,53 -28,65 -27,177 0,103 4,130 26,187 52,138 128,235 263,337 156,118 335,179 554,190 82,4 126,10 128,18 10,30 -86,43 -242,32 z m 816,-55 c 39,-20 59,-68 59,-142 0,-195 -174,-445 -459,-661 -128,-96 -301,-193 -301,-168 0,22 68,240 112,356 51,138 138,318 189,395 79,117 175,201 259,227 43,13 110,10 141,-7 z\"\n             transform=\"matrix(0.025,0,0,-0.025,229,241)\"\n             fill=\"#ffffff\"\n             stroke=\"none\"\n             id=\"path600\" /></g></g></g><g\n       id=\"g635\"><g\n         id=\"shape-096fb951-6286-11ed-8beb-1505805b7237\"\n         transform=\"translate(57.092215,8.8976085)\"><g\n           id=\"g592\"><path\n             d=\"m 4603,2200 c -62,-3 -114,-8 -116,-10 -20,-24 -503,-918 -558,-1034 -125,-265 -172,-503 -116,-600 28,-50 84,-81 131,-72 19,4 52,19 75,34 112,76 372,374 347,399 -8,8 -44,-24 -121,-106 -122,-130 -184,-160 -207,-103 -12,32 -11,101 3,157 6,22 112,232 236,468 l 225,427 h 109 c 108,0 110,0 119,26 6,14 10,27 10,30 0,2 -43,4 -95,4 -52,0 -95,3 -95,8 0,4 6,16 13,27 8,11 53,95 101,188 68,131 83,167 69,165 -10,-1 -68,-4 -130,-8 z M 1166,1800 c -81,-32 -96,-52 -96,-129 1,-91 11,-102 94,-103 118,-1 151,31 150,145 -1,94 -53,125 -148,87 z m 269,-319 c -70,-43 -285,-287 -285,-323 0,-21 28,-2 96,63 78,76 104,84 104,31 0,-17 -39,-105 -91,-208 -50,-98 -88,-170 -84,-159 4,11 9,37 12,59 8,54 -11,45 -69,-35 -74,-100 -145,-175 -182,-193 -36,-17 -66,-13 -66,10 0,33 92,248 191,442 l 107,212 H 1040 913 L 845,1223 C 807,1136 747,1016 712,956 606,777 576,679 600,590 631,474 731,459 867,550 c 72,48 192,166 251,245 24,33 46,62 49,65 5,6 -37,-88 -111,-244 -31,-66 -54,-121 -52,-123 9,-10 301,19 308,30 4,7 40,102 79,212 109,306 155,389 294,533 72,76 109,102 144,102 73,0 43,-201 -65,-436 -95,-206 -144,-347 -144,-414 v -32 l 98,6 c 53,4 119,9 145,12 l 49,6 -23,24 c -17,18 -21,31 -17,61 7,46 80,249 150,414 50,120 52,123 162,234 124,127 156,144 189,104 39,-48 4,-190 -103,-419 -101,-214 -113,-247 -105,-297 13,-89 85,-130 209,-120 138,12 219,60 339,201 l 53,62 -1,-72 c 0,-65 3,-77 30,-115 59,-83 149,-102 246,-51 32,16 67,46 87,72 19,25 37,46 41,48 4,1 15,-22 24,-51 22,-71 44,-89 112,-95 46,-4 64,0 112,24 71,36 238,193 303,286 51,73 80,152 62,170 -7,7 -30,-17 -76,-80 -74,-101 -132,-157 -184,-179 -29,-12 -37,-12 -48,-1 -17,17 38,128 170,339 104,166 192,333 202,388 l 7,33 -97,-3 c -92,-4 -97,-5 -119,-33 l -23,-28 -73,31 c -67,30 -76,32 -122,22 -103,-22 -221,-102 -343,-232 -100,-107 -197,-237 -246,-331 -67,-129 -208,-232 -333,-245 -68,-7 -92,7 -83,48 3,16 39,99 79,186 95,203 127,295 127,370 0,112 -54,167 -164,167 -78,-1 -132,-24 -248,-109 -48,-36 -91,-65 -93,-65 -3,0 -5,11 -5,25 0,74 -54,136 -131,150 -44,8 -155,-27 -291,-93 -81,-39 -98,-44 -98,-30 0,51 -25,124 -50,150 -33,33 -63,35 -105,9 z m 2125,-96 c 17,-21 9,-46 -59,-167 -121,-216 -296,-465 -356,-504 -33,-22 -71,-12 -77,21 -22,111 99,352 270,537 104,111 188,154 222,113 z m 1415,95 c -74,-12 -129,-35 -204,-85 -78,-51 -195,-170 -264,-266 -92,-130 -167,-327 -167,-441 0,-103 59,-178 154,-198 129,-27 277,32 412,165 79,79 211,242 240,297 33,64 -21,23 -169,-126 -134,-135 -159,-156 -210,-175 -75,-27 -142,-28 -157,-2 -15,29 -12,61 10,134 l 20,65 52,12 c 142,35 278,109 374,204 84,84 114,150 114,249 0,132 -68,188 -205,167 z m 103,-149 c 3,-55 -1,-73 -28,-127 -58,-119 -199,-244 -326,-290 -35,-13 -64,-21 -64,-19 0,19 110,218 168,305 97,146 159,202 217,197 30,-2 30,-3 33,-66 z\"\n             transform=\"matrix(0.025,0,0,-0.025,5,84)\"\n             fill=\"#ffffff\"\n             stroke=\"none\"\n             id=\"path590\" /></g></g><g\n         id=\"shape-33bc9f60-6287-11ed-8beb-1505805b7237\"\n         transform=\"matrix(1.2855397,0,0,1.2855397,-21.030409,-217.60948)\"><g\n           id=\"g607\"><path\n             d=\"M 1900,2765 C 1691,2702 1509,2586 1291,2375 882,1981 616,1437 670,1106 689,988 742,914 842,867 c 66,-31 105,-38 210,-38 110,0 178,14 265,55 95,45 164,98 246,186 151,164 228,327 243,515 6,70 4,87 -16,132 -18,43 -30,56 -66,74 -53,25 -154,28 -226,6 -116,-36 -225,-159 -279,-314 -23,-68 -45,-231 -33,-243 5,-5 42,15 84,47 41,30 96,65 121,78 44,23 48,28 69,97 31,102 51,137 108,190 76,71 123,73 157,8 20,-39 19,-91 -4,-182 -33,-128 -108,-249 -223,-359 -132,-126 -318,-173 -420,-106 -85,56 -112,225 -65,407 89,342 402,836 692,1090 146,128 299,199 403,187 64,-7 73,-22 26,-44 -87,-40 -214,-153 -291,-259 -52,-72 -104,-189 -110,-249 -4,-37 0,-66 11,-97 15,-39 22,-45 62,-56 128,-34 257,20 369,155 105,127 151,262 141,406 l -7,87 26,10 c 15,6 40,10 57,10 81,0 326,-108 594,-263 270,-156 324,-174 492,-164 126,7 204,28 328,87 219,106 484,352 484,450 0,18 -17,8 -102,-58 -229,-176 -335,-232 -507,-267 -56,-11 -116,-16 -185,-13 -118,4 -141,13 -376,153 -168,101 -249,143 -340,176 -55,20 -83,24 -190,24 -126,0 -180,-9 -267,-46 l -43,-18 -51,32 c -47,29 -59,32 -148,34 -79,3 -111,-1 -181,-22 z m 330,-232 c 0,-84 -12,-141 -41,-208 -22,-51 -96,-158 -131,-192 -65,-62 -161,-95 -208,-70 -43,22 -46,53 -11,144 63,161 178,301 313,377 35,20 66,36 71,36 4,0 7,-39 7,-87 z\"\n             transform=\"matrix(0.025,0,0,-0.025,20,256)\"\n             fill=\"#ffffff\"\n             stroke=\"none\"\n             id=\"path605\" /></g></g><g\n         id=\"shape-3e4771d0-6287-11ed-8beb-1505805b7237\"\n         transform=\"translate(-75.762205,-201.16364)\"><g\n           id=\"g612\"><path\n             d=\"m 1851,2829 c -188,-37 -481,-315 -741,-704 -208,-312 -381,-684 -430,-925 -25,-124 -25,-183 0,-235 20,-42 79,-85 116,-85 61,1 163,79 291,223 184,206 206,280 32,111 -116,-114 -143,-134 -177,-134 -23,0 -42,38 -42,84 0,41 54,236 79,284 23,44 57,76 216,207 156,128 458,432 561,565 288,372 362,572 227,609 -43,12 -70,12 -132,0 z m 115,-94 c 49,-75 -85,-300 -372,-625 -200,-226 -532,-532 -542,-501 -5,15 114,260 180,370 188,313 411,607 531,699 108,84 173,102 203,57 z\"\n             transform=\"matrix(0.025,0,0,-0.025,120,304)\"\n             fill=\"#ffffff\"\n             stroke=\"none\"\n             id=\"path610\" /></g></g></g><g\n       id=\"shape-096fb952-6286-11ed-8beb-1505805b7237\"\n       transform=\"translate(0.4447609,7.145432)\"><g\n         id=\"g617\"><path\n           d=\"m 570,921 c 0,-27 4,-32 29,-37 19,-4 31,-14 35,-28 8,-28 7,-465 0,-493 -4,-15 -14,-23 -28,-23 -30,0 -34,-6 -28,-35 4,-25 5,-25 123,-25 h 119 v 30 c 0,26 -3,30 -29,30 -28,0 -29,1 -36,74 -3,41 -3,96 1,122 12,85 86,132 133,85 26,-26 35,-93 26,-196 -6,-76 -9,-84 -28,-87 -16,-2 -22,-10 -22,-28 v -25 l 113,-3 112,-3 v 31 c 0,25 -4,30 -24,30 -31,0 -36,19 -36,153 0,120 -12,161 -55,195 -53,42 -148,38 -190,-8 -34,-38 -38,-25 -30,120 l 7,140 h -65 c -35,0 -79,3 -96,6 -29,6 -31,5 -31,-25 z m 5400,-1 c 0,-22 6,-29 33,-36 l 32,-10 3,-79 3,-80 h -73 c -91,0 -151,-31 -187,-95 -49,-88 -35,-244 28,-304 22,-22 43,-30 80,-34 66,-6 93,2 130,38 l 30,31 7,-36 6,-35 h 73 c 67,0 73,2 79,23 9,34 8,35 -21,39 l -28,3 -2,295 c -1,162 -6,296 -10,297 -4,1 -47,3 -95,6 l -88,5 z m 68,-385 c 2,-85 -1,-105 -18,-132 -17,-28 -25,-33 -60,-33 -30,0 -43,5 -54,23 -35,52 -32,174 6,222 18,23 26,26 72,23 l 51,-3 z m -502,366 c -26,-29 -18,-81 16,-100 59,-33 120,28 87,87 -19,35 -76,43 -103,13 z M 20,856 c 0,-24 -3,-58 -6,-75 -6,-29 -5,-31 23,-31 28,0 31,4 37,40 l 6,41 63,-3 62,-3 V 585 345 l -27,-3 c -24,-3 -28,-8 -28,-33 v -29 h 125 125 v 30 c 0,25 -4,30 -24,30 -16,0 -26,7 -30,23 -8,29 -8,431 0,451 5,12 20,16 64,16 62,0 70,-7 70,-56 0,-20 5,-24 31,-24 h 32 l -7,53 c -3,28 -6,62 -6,75 v 22 H 275 20 Z m 3309,-82 c -14,-23 -38,-44 -66,-56 -34,-15 -43,-24 -43,-43 0,-21 5,-25 30,-25 h 30 V 515 c 0,-147 10,-190 51,-219 33,-23 116,-21 157,4 28,17 31,22 20,39 -9,15 -19,18 -45,14 -58,-10 -63,3 -63,158 v 139 h 44 c 31,0 46,5 50,16 14,37 7,44 -44,44 h -50 v 50 c 0,46 -2,50 -24,50 -17,0 -31,-11 -47,-36 z m 846,-3 c -16,-24 -41,-44 -65,-54 -32,-12 -40,-20 -40,-41 0,-22 4,-26 30,-26 h 30 V 511 c 0,-155 9,-195 51,-216 56,-29 179,-9 179,30 0,20 -20,29 -60,26 -51,-3 -60,22 -60,174 v 125 h 49 c 47,0 49,1 53,30 l 5,30 h -54 -53 v 50 c 0,43 -3,50 -20,50 -12,0 -30,-15 -45,-39 z m 2726,3 c -13,-22 -37,-42 -65,-54 -37,-17 -43,-23 -38,-45 3,-18 11,-25 28,-25 24,0 24,0 24,-122 1,-147 10,-195 45,-225 32,-28 110,-31 158,-7 42,22 40,19 26,42 -10,16 -20,19 -46,15 -58,-10 -63,3 -63,158 v 139 h 50 c 49,0 50,1 50,30 0,29 -1,30 -50,30 h -50 v 50 c 0,46 -2,50 -24,50 -17,0 -30,-11 -45,-36 z M 1280,711 c -90,-29 -136,-88 -146,-187 -15,-139 56,-237 181,-252 56,-6 134,13 168,41 24,20 25,24 12,41 -13,17 -18,18 -40,8 -14,-7 -49,-12 -76,-12 -42,0 -55,5 -80,29 -16,16 -29,38 -29,49 0,11 -3,27 -6,36 -5,14 9,16 120,16 h 126 l 6,25 c 16,65 -20,156 -76,188 -35,21 -122,31 -160,18 z m 80,-69 c 13,-11 23,-33 27,-60 l 6,-42 h -66 -66 l 6,33 c 15,80 48,105 93,69 z m 365,60 c -11,-28 -4,-39 28,-48 l 32,-10 V 495 346 l -25,-6 c -18,-4 -26,-14 -28,-33 l -3,-27 h 120 121 v 30 c 0,25 -4,30 -24,30 -32,0 -36,15 -36,122 0,104 16,150 60,168 35,15 66,6 86,-25 11,-17 14,-49 12,-141 -3,-115 -4,-119 -25,-122 -18,-3 -23,-10 -23,-33 v -29 h 115 115 v 30 c 0,26 -3,30 -29,30 -27,0 -28,2 -35,61 -3,34 -6,98 -6,143 0,64 -4,88 -20,114 -22,35 -72,62 -117,62 -35,0 -111,-37 -126,-61 -15,-24 -27,-24 -27,-1 0,37 -23,50 -92,54 -51,3 -69,1 -73,-10 z m 692,3 c -85,-30 -127,-100 -127,-210 0,-152 91,-237 237,-222 55,6 133,42 133,63 0,23 -26,35 -54,24 -36,-13 -112,-13 -138,1 -21,11 -48,66 -48,98 0,19 8,21 123,23 l 122,3 v 67 c 0,80 -19,111 -85,146 -50,25 -106,28 -163,7 z m 103,-65 c 13,-13 20,-33 20,-60 v -40 h -61 -62 l 6,42 c 6,43 34,78 63,78 8,0 23,-9 34,-20 z m 200,51 c 0,-19 5,-31 13,-31 13,0 89,-82 121,-133 l 18,-27 -40,-53 c -70,-89 -87,-107 -103,-107 -12,0 -14,-8 -11,-30 l 4,-30 h 89 89 v 30 c 0,17 -4,30 -10,30 -5,0 -10,5 -10,10 0,13 50,90 59,90 7,0 61,-83 61,-94 0,-3 -7,-6 -15,-6 -10,0 -15,-10 -15,-30 v -30 h 110 c 106,0 110,1 110,22 0,12 -17,35 -41,56 -48,41 -119,128 -119,146 0,19 119,156 136,156 10,0 14,8 12,23 -3,21 -8,22 -95,25 l -93,3 v -26 c 0,-16 6,-25 16,-25 9,0 14,-3 12,-7 -10,-23 -54,-93 -58,-93 -5,0 -60,87 -60,95 0,3 9,5 20,5 15,0 20,7 20,25 0,25 -1,25 -87,25 -49,0 -98,3 -110,6 -20,6 -23,3 -23,-25 z m 1089,20 c -67,-21 -99,-61 -99,-124 0,-57 36,-97 125,-142 49,-24 81,-47 83,-58 6,-30 -17,-47 -64,-47 -51,0 -84,26 -84,65 0,20 -5,25 -24,25 -19,0 -24,-6 -30,-37 -3,-21 -6,-52 -6,-69 0,-28 3,-32 38,-38 20,-3 68,-6 105,-6 117,0 171,41 171,129 0,69 -24,97 -124,145 -65,31 -86,46 -88,63 -4,30 38,47 88,36 30,-7 36,-14 44,-46 8,-29 14,-37 33,-37 20,0 23,5 23,43 0,23 3,52 6,63 5,20 0,23 -46,33 -58,12 -113,13 -151,2 z m 581,-21 c 0,-19 7,-30 25,-38 24,-11 25,-15 25,-114 1,-57 5,-123 9,-148 21,-106 159,-147 241,-70 18,17 34,30 36,30 2,0 4,-16 4,-35 v -35 h 80 80 v 30 c 0,25 -4,30 -24,30 -22,0 -25,5 -32,57 -4,31 -4,113 0,180 5,96 3,124 -6,128 -7,2 -50,5 -95,7 l -81,3 -4,-27 c -4,-24 -1,-28 28,-34 27,-5 33,-11 38,-42 10,-64 7,-151 -8,-186 -26,-63 -87,-85 -127,-45 -19,19 -20,30 -18,172 2,88 -1,152 -7,153 -5,1 -44,4 -86,7 l -78,4 z m 540,1 c 0,-27 4,-32 29,-37 19,-4 31,-14 35,-28 10,-36 7,-443 -4,-470 -5,-14 -16,-26 -25,-26 -9,0 -15,-9 -15,-25 V 80 h 120 120 v 25 c 0,20 -6,25 -34,30 -33,7 -34,8 -38,68 -3,34 -3,65 -1,70 2,4 33,7 69,7 146,0 217,72 218,220 0,93 -15,140 -59,179 -65,57 -157,51 -214,-14 l -31,-35 -6,27 c -11,52 -12,53 -66,53 -29,0 -63,3 -75,6 -20,6 -23,3 -23,-25 z m 309,-78 c 27,-23 42,-102 31,-167 -12,-80 -65,-113 -136,-86 l -27,11 6,92 c 6,101 18,140 51,155 31,16 51,14 75,-5 z m 221,75 c 0,-23 5,-30 29,-34 35,-7 41,-29 41,-159 0,-127 -6,-155 -36,-155 -28,0 -35,-10 -27,-39 5,-21 9,-22 122,-19 l 116,3 3,28 c 3,24 0,27 -26,27 -29,0 -30,1 -37,66 -4,36 -4,117 0,180 6,92 5,115 -6,118 -8,3 -51,6 -96,9 l -83,4 z m 1057,18 c -52,-19 -65,-32 -77,-77 -13,-49 1,-107 32,-136 13,-12 53,-35 90,-52 75,-33 97,-60 72,-85 -17,-18 -70,-21 -108,-6 -18,6 -27,19 -32,45 -5,28 -11,35 -29,35 -20,0 -23,-6 -29,-66 -4,-37 -4,-69 -2,-72 3,-3 50,-7 103,-10 116,-5 162,9 193,60 46,76 13,155 -85,201 -105,49 -110,52 -113,75 -4,28 36,45 85,36 35,-7 53,-28 53,-63 0,-15 6,-21 24,-21 22,0 25,5 31,61 4,33 5,63 1,66 -8,9 -87,22 -131,22 -22,0 -57,-6 -78,-13 z m 743,5 c -90,-29 -136,-88 -146,-187 -15,-139 56,-237 181,-252 56,-6 134,13 168,41 24,20 25,24 12,41 -13,17 -18,18 -40,8 -14,-7 -49,-12 -76,-12 -42,0 -55,5 -80,29 -16,16 -29,38 -29,49 0,11 -3,27 -6,36 -5,14 9,16 120,16 h 126 l 6,25 c 16,65 -20,156 -76,188 -35,21 -122,31 -160,18 z m 80,-69 c 13,-11 23,-33 27,-60 l 6,-42 h -66 -66 l 6,33 c 15,80 48,105 93,69 z m 198,46 c -4,-25 -1,-28 28,-34 41,-8 44,-24 44,-259 0,-211 -6,-256 -32,-263 -11,-2 -18,-13 -18,-28 0,-24 0,-24 120,-24 120,0 120,0 120,24 0,19 -7,25 -34,30 -31,6 -34,10 -40,53 -13,95 -16,91 77,94 102,5 152,32 186,101 28,59 29,184 2,244 -46,102 -169,124 -246,44 -36,-38 -45,-38 -45,0 0,36 -4,38 -92,42 -66,4 -66,4 -70,-24 z m 295,-67 c 36,-14 50,-59 45,-147 -3,-69 -6,-79 -31,-100 -28,-24 -61,-29 -104,-18 -22,6 -23,12 -23,89 0,92 13,141 42,168 23,19 36,21 71,8 z m 244,-229 c -26,-29 -22,-88 7,-108 70,-45 140,51 80,110 -21,22 -67,20 -87,-2 z\"\n           transform=\"matrix(0.025,0,0,-0.025,202,121)\"\n           fill=\"#ffffff\"\n           stroke=\"none\"\n           id=\"path615\" /></g></g><g\n       style=\"display:inline;-webkit-print-color-adjust:exact\"\n       id=\"g741\"\n       transform=\"translate(151.6419,-2280.6146)\"><path\n         d=\"m 17.368464,2297.35 c -0.358728,1.2983 -0.392893,1.247 0.649129,1.247 0.854116,0 0.95661,-0.034 1.110351,-0.4441 0.358729,-0.9396 0.256235,-1.0933 -0.751622,-1.0933 -0.751623,0 -0.956611,0.068 -1.007858,0.2904 z m -19.5080119,0.2562 c -0.2391525,0.7517 -2.1011258,9.959 -2.0327965,10.0786 0.1195763,0.1708 1.2811743,0.1708 1.5544914,0 0.1195763,-0.068 0.5295521,-1.5887 0.9053632,-3.3652 0.6491282,-3.0065 0.76870449,-3.5019 0.90536309,-3.314 0.034165,0.034 0.7003752,1.5203 1.4690798,3.314 0.78578671,1.7765 1.52032661,3.2969 1.62282051,3.3652 0.1024939,0.068 0.4270581,0.1367 0.7003752,0.1367 0.2903995,0 0.5978814,-0.068 0.7003753,-0.1367 0.1537409,-0.1025 2.2890314,-9.549 2.2890314,-10.1298 0,-0.1025 -0.358729,-0.1538 -0.888281,-0.1196 l -0.905363,0.051 -0.7003753,3.2456 c -0.3758111,1.7766 -0.7345399,3.3481 -0.7687045,3.4848 -0.051247,0.1367 -0.7687046,-1.3324 -1.6057382,-3.2798 l -1.50324441,-3.5358 H -1.2341848 c -0.5124697,0 -0.8541161,0.086 -0.9053631,0.205 z m 11.5647324,2.5795 c -1.315339,0.4783 -2.220702,1.6399 -2.699007,3.4506 -0.73454,2.7161 0.2904,4.1852 2.93816,4.1852 2.6819235,0 4.2193335,-1.6741 4.4414035,-4.8685 0.102494,-1.4691 -0.239153,-2.1524 -1.349504,-2.6478 -0.819951,-0.3758 -2.442772,-0.427 -3.3310525,-0.1195 z m 2.5452655,1.5032 c 0.324565,0.3246 0.358729,0.4954 0.273318,1.4862 -0.119577,1.2811 -0.683293,2.5111 -1.349504,2.9894 -0.666211,0.4954 -1.8107255,0.4612 -2.2377835,-0.068 -0.273318,-0.3416 -0.307482,-0.5808 -0.222071,-1.3495 0.153741,-1.4861 0.444141,-2.2548 1.042022,-2.8527 0.478305,-0.4783 0.6832925,-0.5637 1.3495035,-0.5637 0.580799,0 0.888281,0.1025 1.144515,0.3587 z m 10.710617,-1.5545 c -1.366586,0.41 -2.306114,1.4691 -2.801501,3.1773 -0.905363,3.109 0.170823,4.6123 3.143147,4.4927 1.195763,-0.068 1.46908,-0.1367 2.101126,-0.5808 0.409976,-0.2904 0.95661,-0.8712 1.212845,-1.2983 0.563717,-0.9053 1.042022,-3.0065 0.888281,-3.8606 -0.136659,-0.7345 -0.819952,-1.5716 -1.554491,-1.862 -0.597882,-0.2562 -2.254867,-0.2904 -2.989407,-0.068 z m 2.340278,1.5374 c 0.580799,0.6492 0.187906,3.2286 -0.649128,4.1852 -0.73454,0.8712 -2.562348,0.8541 -2.784419,-0.017 -0.187905,-0.7174 0.05125,-2.4086 0.427058,-3.1773 0.187906,-0.41 0.563717,-0.8712 0.819952,-1.0249 0.666211,-0.41 1.793644,-0.3929 2.186537,0.034 z m -8.199515,-1.3153 c -0.05125,0.1196 -0.461223,1.9815 -0.922445,4.1339 -0.751623,3.5019 -0.888281,3.9631 -1.298257,4.3048 -0.239152,0.222 -0.66621,0.3928 -0.95661,0.3928 -0.51247,0 -0.563717,0.051 -0.73454,0.9054 -0.102494,0.4612 -0.102494,0.4612 0.819952,0.4612 1.469079,0 2.374443,-0.4954 2.938159,-1.5715 0.204988,-0.3929 1.947385,-8.1483 1.947385,-8.6779 0,-0.2562 -1.708232,-0.222 -1.793644,0.051 z m 11.872215,-0.1538 c 0,0.051 0.341646,1.657 0.768704,3.6044 l 0.751623,3.519 -0.922446,1.4349 c -0.51247,0.8029 -0.939528,1.5203 -0.939528,1.6228 0,0.085 0.375811,0.1708 0.837034,0.1708 h 0.837034 l 3.16023,-4.9197 c 1.742397,-2.699 3.228559,-5.0393 3.296888,-5.2101 0.08541,-0.2562 -0.01708,-0.2904 -0.768704,-0.2904 h -0.871199 l -0.973692,1.5374 c -0.546635,0.8371 -1.281175,1.9987 -1.639903,2.5795 -0.358729,0.5637 -0.683293,1.0078 -0.73454,0.9737 -0.03417,-0.051 -0.256235,-1.025 -0.495388,-2.2037 -0.239152,-1.1616 -0.461222,-2.289 -0.512469,-2.5111 -0.08541,-0.3245 -0.204988,-0.3758 -0.939528,-0.3758 -0.478305,0 -0.854116,0.034 -0.854116,0.068 z\"\n         fill=\"#ffffff\"\n         stroke=\"none\"\n         id=\"path727\"\n         style=\"stroke-width:0.0170823\" /></g><path\n       style=\"fill:#ffffff;fill-opacity:1;stroke:#ffffff;stroke-width:0.324927;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;-webkit-print-color-adjust:exact\"\n       d=\"m 281.36992,40.919813 -7.28384,9.310231 C 331.7125,32.243718 377.62507,32.865172 420.50653,35.591967 L 420.11061,6.5895826 C 367.70795,10.212795 322.84169,23.797667 281.37001,40.919813 Z\"\n       id=\"path2166\" /><path\n       style=\"fill:#ffffff;fill-opacity:1;stroke:#fffff1;stroke-width:0.213817;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;-webkit-print-color-adjust:exact\"\n       d=\"M -0.36912938,88.562617 C 92.702569,104.93485 165.56405,102.39127 245.1634,83.456498 l 5.05108,2.29809 C 167.37432,116.45971 109.57059,130.80265 -0.4011996,125.41999 Z\"\n       id=\"path2110\" /></g></svg>\n",
        "output": "str",
        "x": 607,
        "y": 992,
        "wires": [
            [
                "2a6e956fc091abc2"
            ]
        ]
    },
    {
        "id": "c39f2404bb5fd7f1",
        "type": "inject",
        "z": "0abb8904250e3eb6",
        "name": "ext: xml",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello world",
        "payloadType": "str",
        "x": 394,
        "y": 1110,
        "wires": [
            [
                "c973a2f2c76fa585"
            ]
        ]
    },
    {
        "id": "2a6e956fc091abc2",
        "type": "function",
        "z": "0abb8904250e3eb6",
        "name": "convert to stream",
        "func": "// msg.payload = stream.Readable.from(msg.payload)\n\n\nconst readable = new stream.Readable();\nreadable._read = () => {}; // _read is required but you can noop it\nreadable.push(Buffer.from(msg.payload));\nreadable.push(null);\n\nmsg.payload = readable\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "stream",
                "module": "stream"
            }
        ],
        "x": 837,
        "y": 891,
        "wires": [
            [
                "0e91245952fb2e47"
            ]
        ]
    },
    {
        "id": "54cf873b3b7923b2",
        "type": "http request",
        "z": "0abb8904250e3eb6",
        "name": "png",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://cdn.openmindmap.org/content/1700412063639_Artboard-8_-_Artboard-8_fused.png",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 842,
        "y": 402,
        "wires": [
            [
                "0e91245952fb2e47"
            ]
        ]
    },
    {
        "id": "1eed99f270257153",
        "type": "inject",
        "z": "0abb8904250e3eb6",
        "name": "ext: png",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 621,
        "y": 338,
        "wires": [
            [
                "54cf873b3b7923b2"
            ]
        ]
    },
    {
        "id": "0e91245952fb2e47",
        "type": "junction",
        "z": "0abb8904250e3eb6",
        "x": 988.3834416866302,
        "y": 636.8355848789215,
        "wires": [
            [
                "5ef34923ab5018a1"
            ]
        ]
    }
]